.title {
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #888888;
  text-align: center;
}
 
#testResults {
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #888888;
}

.addNewButton {
  text-align: center;
}

.pendingResponse {
  background-image: url(/images/rolling.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.item.add-item {
  display: none;
}

div.modify {
   content:url(/images/gear.png);
    width: 25px;
    height: 25px;
    right: 7.5px;
    top: 7.5px;
    position: absolute;
    border-radius: 6px;
}